/*Farhan Khandaker 2135266*/

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_container{
    width: 80%;
    flex: 1;
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

header{
    background-color: steelblue;
    text-align: center;
}

#middle_section{
    background-color: darkgray;
    flex: 100%;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: lightblue;
    text-align: center;
}

#top_section{
    background-color: slategrey;
    margin: 10px;
    padding: 5px;
}

form{
    display: flex;
}

fieldset{
    flex: 1;
}

legend{
    margin: 0 auto;
}

input{
    width: 100%;
    max-height: 100%;
}

input:invalid{
    background-color: #EE4B2B;
}

#main_section{
    background-color: beige;
    margin: 10px;
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#table_render_space{
    background-color: bisque;
    padding: 5px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#table_html_space{
    background-color: lightcoral;
    padding: 5px;
    height: 50%;
    display: flex;
    flex-direction: column;
}

#table_html_space > textarea{
    flex: 1;
}