/*Farhan Khandaker 2135266*/

table{
    padding: 5px;
    border: 1px dotted black;
    background-color: white;
    width: 100%;
    flex: 1;
    text-align: center;
}

td{
    color: black;
    border: 1px solid black;
}
